{% macro parse(rows) %}
{% for row in rows %}
	<tr>
	{% for cell in row %}
		<td>{{cell}}</td>
	{% endfor %}
	</tr>
{% endfor %}
{% endmacro %}

{% macro head(row) %}

	<tr>
	{% for cell in row %}
		<th><a href="#">{{cell}}</a></th>
	{% endfor %}
	</tr>
{% endmacro %}

{% macro foot(totals) %}
	<tr>
		<td colspan="5">Итого:</td>
		<td>{{totals.all.hours}}</td>
		{% if totals.all.price is defined %}
			<td>{{totals.all.price}} p.</td>
		{% endif %}
	</tr>
	{% if totals.uniqueWorkTypes|length > 1 %}
	{% for worktype in totals.uniqueWorkTypes %}
		{% if worktype.titles is defined %}
		<tr>
			<td colspan="3" {% if worktype.titles|length > 1 %} rowspan="{{worktype.titles|length}}" {% endif %}>{{worktype.name}}</td>
			{% for key, value in worktype.titles %}
				{% if loop.first %}
					<td>{{key}}</td>
					<td>{{value.hours}} {% if value.price is defined %}({{value.price}} p.){% endif %}</td>
					<td {% if worktype.titles|length > 1 %} rowspan="{{worktype.titles|length}}" {% endif %}>{{worktype.hours}}</td>
					{% if value.price is defined %}
						<td {% if worktype.titles|length > 1 %} rowspan="{{worktype.titles|length}}" {% endif %}>{{worktype.price}} p.</td>
					{% endif %}
				{% endif %}
			{% endfor %}
		</tr>
		{% for key, value in worktype.titles %}
			{% if not loop.first %}
			<tr>
				<td>{{key}}</td>
				<td>{{value.hours}} {% if value.price is defined %}({{value.price}} p.){% endif %}</td>
			</tr>
			{% endif %}
		{% endfor %}
		{% else %}
			<tr>
				<td colspan="5">{{worktype.name}}</td>
				<td>{{worktype.hours}}</td>
				<td>{{worktype.price}} p.</td>
			</tr>
		{% endif %}
	{% endfor %}
	{% endif %}
{% endmacro %}